UDF ``{{udf_name}}``
{{underline}}

Calls MLflow REST API endpoint `{{endpoint}} <https://mlflow.org/docs/latest/api_reference/rest-api.html#{{anchor}}>`_.

.. code-block:: sql

    SELECT {{udf_name}}(
        connection_name, {{udf_args}}
    );

.. list-table::
   :header-rows: 1
   :widths: 30 30 40

   * - Input Column
     - SQL Type
     - Comment
   {%- for item in input_columns %}
   * - ``{{item[0]}}``
     - ``{{item[1]}}``
     - {{item[2]}}
   {%- endfor %}


.. list-table::
   :header-rows: 1
   :widths: 30 70

   * - Output Column
     - SQL Type
   {%- for item in output_columns %}
   * - ``{{item[0]}}``
     - ``{{item[1]}}``
   {%- endfor %}

